<google-map on-click="onMapClick(lat,lng)" on-init="mapCallback(interface)" map-id="'map-canvas'" search="true"></google-map>
<div class="mg-discover-pane">
  <div class="mg-discover-pane-header">
    <div class="mg-discover-pane-header-actions">
      <md-button class="md-icon-button" aria-label="More" ng-click="showFlights()">
        <md-icon md-svg-icon="img/svg/ic_photo_camera_black_24px.svg"></md-icon>
        <md-tooltip>Flights</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" aria-label="More" ng-click="showPhotos()">
        <md-icon md-svg-icon="img/svg/ic_photo_camera_black_24px.svg"></md-icon>
        <md-tooltip>Photos</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" aria-label="More" ng-click="showPlaces()">
        <md-icon md-svg-icon="img/svg/ic_photo_camera_black_24px.svg"></md-icon>
        <md-tooltip>Places</md-tooltip>
      </md-button>
      
    </div>
  </div>
  <div id="mg-content">
    <div ng-hide="showResults || showPredictions" style="margin-top:50px;font-size:14px;text-align:center">
      Click anywhere on the map to discover places around it
    </div>
    <div ng-show="showPredictions" style="padding:10px">
      <div ng-repeat="prediction in predictions" ng-mouseenter="prediction.selected=true" 
                                                 ng-mouseleave="prediction.selected=false" 
                                                 ng-click="showAddressOnMap(prediction.description)">
        <prediction prediction="prediction"></prediction>
      </div>
    </div>
    <div ng-show="activeTab=='instagram'">
      <gallery template-url="partials/instagram_gallery.html" items="instagramPhotos" loading="photosLoading"></gallery>
    </div>
    <div ng-show="activeTab=='flickr'">
        <gallery template-url="partials/flickr_gallery.html" item-service="FlickrService" trip-service="TripService" items="flickrPhotos" loading="flickrLoading"></gallery>
    </div>
    <div ng-show="activeTab=='google'">
      <gallery template-url="partials/google_gallery.html" item-service="GoogleService" trip-service="TripService" items="googlePlaces" loading="googleLoading"></gallery>

    </div>
  </div>
</div>