<google-map on-click="onMapClick(lat,lng)" on-init="mapCallback(interface)" map-id="'map-canvas'" search="true"></google-map>
<div class="mg-discover-pane">
  <div class="mg-discover-pane-header">
    <div style="float:left;line-height:50px" class=".md-title">{{title}}</div>
    <div class="mg-discover-pane-header-actions" layout="row">      
      <md-button class="md-icon-button" aria-label="Articles" ng-click="showArticles()" ng-class="{'mg-discover-pane-active-button' : activeTab==1}">
        <md-icon md-svg-icon="img/svg/ic_articles_black_24px.svg"></md-icon>
        <md-tooltip>Articles</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" aria-label="Flights" ng-click="showFlights()" ng-class="{'mg-discover-pane-active-button' : activeTab==2}">
        <md-icon md-svg-icon="img/svg/ic_flight_black_24px.svg"></md-icon>
        <md-tooltip>Flights</md-tooltip>
      </md-button>

      <md-button class="md-icon-button" aria-label="Photos" ng-click="showPhotos()" ng-class="{'mg-discover-pane-active-button' : activeTab==3}">
        <md-icon md-svg-icon="img/svg/ic_photo_camera_black_24px.svg"></md-icon>
        <md-tooltip>Photos</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" aria-label="Places" ng-click="showPlaces()" ng-class="{'mg-discover-pane-active-button' : activeTab==4}">
        <md-icon md-svg-icon="img/svg/ic_place_black_24px.svg"></md-icon>
        <md-tooltip>Places</md-tooltip>
      </md-button>
      
    </div>
  </div>
  <div id="mg-content">
    <!-- Articles -->
    <div ng-show="activeTab==1">
      Add gallery for articles
    </div>
    <!-- Flights -->
    <div ng-show="activeTab==2">
      Add gallery for flights
    </div>
    <!-- Photos -->
    <div ng-show="activeTab==3">
        <gallery template-url="partials/photo_gallery.html" item-service="PhotoService" trip-service="TripService" items="photos" loading="photosLoading"></gallery>
    </div>
    <!-- Places -->
    <div ng-show="activeTab==4">
      <gallery template-url="partials/google_gallery.html" item-service="GoogleService" trip-service="TripService" items="googlePlaces" loading="googleLoading"></gallery>

    </div>
  </div>
</div>