<div ng-hide="items">No items to show</div>

<div ng-show="items" style="height:480px;overflow-y:scroll;overflow-x:hidden">
  <md-progress-linear ng-show="loading" md-mode="indeterminate"></md-progress-linear>

  <md-list ng-show="!loading">
  <md-list-item class="md-2-line" ng-repeat="item in items | startFrom:currentPage*pageSize | limitTo:pageSize">
        <img class="insta-place-type" ng-src="{{item.icon}}"></img>
        <div class="md-list-item-text" ng-class="{'md-offset': $index == 2 }" style="margin:0;">
          <h3> {{ item.name }} </h3>
        </div>
      </md-list-item>
    </md-list>

  <!-- <div ng-show="!loading" ng-repeat="item in items | startFrom:currentPage*pageSize | limitTo:pageSize" ng-mouseenter="item.selected=true" ng-mouseleave="item.selected=false;" ng-click="showDetails(item);tripService.showPlaceOnMap(item)" class="insta-place" ng-class="{ selected:item.selected}" data-place-id="{{item.id}}" id="place_{{$index}}">
    <div style="height:40px">
      <img class="insta-place-type" ng-src="{{item.icon}}"></img>
      <span style="line-height:20px" ng-bind="item.name"></span>
    </div>
    <div class="mg-place-details-address">
      <div>{{cItem.details.formatted_address}}</div> 
      <div>{{cItem.details.formatted_phone_number}}</div>
      <div ng-show="cItem.details.website">
        <a ng-href="{{cItem.details.website}}" target="_blank">open website</a>
      </div>
    </div>
  </div> -->
</div>
