<!-- View for creating a new trip -->
<div id="mg-plan-new-trip">
  <div style="text-align:center;wdith:480px;">
    <h2 ng-show="first_trip" style="text-align:center">Plan a trip to:</h2>
  </div>
  <md-input-container flex>
    <label>Enter a country or a city</label>
    <input style="text-align:center;font-size:22px" ng-model="newtrip.location">
  </md-input-container>
  <div class="mg-plan-new-trip-section-type">
    <md-radio-group ng-model="newtrip.type">
      <md-radio-button value="vacation" class="md-primary">Vacation</md-radio-button>
      <md-radio-button value="trip"> One day trip </md-radio-button>
      <md-radio-button value="night">Night out</md-radio-button>
    </md-radio-group>
  </div>
  
  <!-- <div class="mg-plan-new-trip-section-location">
    <input type="text" ng-model="newtrip.location" placeholder="Enter a country or a city" autofocus="">
  </div> -->
  <!-- <div ng-show="newtrip.type=='vacation'" class="mg-plan-new-trip-section-date">
    <label for="">From:
      <input type="date" ng-model="newtrip.from" min="2013-01-01" max="2023-12-31">
    </label>
    <label for="">To:
      <input type="date" ng-model="newtrip.to" min="2013-01-01" max="2023-12-31">
    </label>
  </div>
  <div ng-show="newtrip.type!=='vacation'" class="mg-plan-new-trip-section-date">
    <label for="">On:
      <input type="date" name="input" ng-model="newtrip.on" min="2013-01-01" max="2023-12-31">
    </label>
  </div> -->
  <div style="width:100px;margin:auto;margin-top:50px">
    <md-button class="md-raised md-primary" ng-disabled="newtrip.location==''" ng-click="createTrip()">Create trip</md-button>
  </div>
</div>